.card {
  width: var(--mobileCardWidth);
}

.background {
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadius);
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.iconWrapper {
  height: 40px;
  text-align: right;
  overflow: hidden;
}

.iconWrapper img {
  width: 79px;
  transform: translate(-18px, -10px);
}

.main {
  position: relative;
  cursor: pointer;
  padding: 26px;
  border-radius: var(--borderRadius);
  transition: var(--fastTransition);
}

.flexGrid {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  row-gap: 14px;
  z-index: 2;
}

.flexGrid > * {
  flex: 2 1 50%;
}

.ellipsisWrapper, .lastHours {
  text-align: right;
}

.ellipsisWrapper {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: inherit;
  border-radius: inherit;
}

.ellipsisSVG {
  transition: var(--fastTransition);
  fill: var(--paleBlue);
}

.ellipsisSVG:hover, .ellipsisSVG:active {
  fill: white;
}

.title {
  font-size: var(--titleFontSize);
}

.hours {
  font-size: 32px;
  font-weight: 300;
}

.lastHours {
  font-size: 14px;
  color: var(--paleBlue)
}

@media screen and (min-width: 600px) {
  .card {
    width: var(--desktopCardWidth);
  }

  .iconWrapper {
    height: 48px;
  }

  .flexGrid > * {
    margin-bottom: 2px;
  }

  .hours {
    margin-top: 14px;
    font-size: 50px;
  }

  .hours, .lastHours {
    flex: 1 1 100%;
    text-align: left;
  }
}