.card {
  background-color: var(--darkBlue);
  width: var(--cardWidth);
  border-radius: var(--borderRadius);
}

.header {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  align-items: center;
  padding: 32px 26px;
  background-color: var(--blue);
  border-radius: var(--borderRadius);
}

.header img {
  width: 70px;
  border: 2px solid #fff;
  border-radius: 70px;
}

.header p:first-child {
  flex-grow: 1;
  margin-bottom: 6px;
  color: var(--paleBlue);
}

.header p:nth-child(2) {
  font-size: 24px;
  font-weight: 300;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 26px;
}

.menu button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--paleBlue);
  font-family: var(--mainFont);
  font-size: 18px;
}