.card {
  background-color: var(--darkBlue);
  width: var(--mobileCardWidth);
  border-radius: var(--borderRadius);
}

.header {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  align-items: center;
  padding: 32px 26px;
  background-color: var(--blue);
  border-radius: var(--borderRadius);
}

.header img {
  width: 70px;
  border: 3px solid #fff;
  border-radius: 70px;
}

.header p:first-child {
  flex-grow: 1;
  margin-bottom: 6px;
  color: var(--paleBlue);
}

.header p:nth-child(2) {
  font-size: 24px;
  font-weight: 300;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 26px;
}

.menu button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--paleBlue);
  font-family: var(--mainFont);
  font-size: 18px;
  transition: var(--fastTransition);
}

.menu button:hover, .menu button:active {
  color: white;
}

.menu .activeBtn {
  color: white;
}

@media screen and (min-width: 1200px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--desktopCardWidth);
    height: 100%;
    margin-right: 20px;
  }

  .header {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .header img {
    width: 80px;
    margin-bottom: 40px;
  }

  .header p:nth-child(2) {
    font-size: 40px;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
    padding: 32px 32px;
  }
}